In [3]:
import pandas as pd

# Carregar o arquivo CSV em um DataFrame
df = pd.read_csv("user_objectives.csv")

# Selecionar valores únicos da coluna "key"
unique_values = df["name"].unique()

# Imprimir os valores únicos
print(unique_values)

['Procurar emprego' 'Melhorar minha carreira' 'Autoconhecimento'
 'Desenvolvimento Pessoal']

No código acima, selecionamos os valores únicos da coluna "key". Eles são variáveis categóricas e precisam ser transformadas em numéricas para que possamos trabalhar com elas.

In [4]:
# Mapeamento de valores categóricos para valores numéricos
mapping = {
    'Procurar emprego': 1, 'Melhorar minha carreira': 2, 'Autoconhecimento': 3, 'Desenvolvimento Pessoal': 4,
}

# Aplicar o mapeamento à coluna "key"
df["name"] = df["name"].map(mapping)

# Imprimir o DataFrame com os valores numéricos
print(df)

            id  name
0      1022022     1
1       378020     1
2       378020     2
3      1022022     3
4      1022022     4
...        ...   ...
48877  1082284     2
48878  1082284     4
48879  1091136     1
48880  1091136     4
48881  1099482     2

[48882 rows x 2 columns]

Por fim, vamos somente exportar os dados para um novo arquivo CSV.

In [ ]:
df.to_csv("prep_df_user_objectives.csv", index=False)