In [1]:
import pandas as pd

# Carregar o arquivo CSV em um DataFrame
df = pd.read_csv("user_lifestyle.csv")

# Selecionar valores únicos da coluna "key"
unique_values = df["key"].unique()

# Imprimir os valores únicos
print(unique_values)

['ls_explorer_generalist' 'ls_change_generalist' 'ls_explorer_specialist'
 'ls_explorer_hybrid' 'ls_change_specialist' 'ls_change_hybrid'
 'ls_tireless_generalist' 'ls_order_specialist' 'ls_tireless_specialist'
 'ls_order_hybrid' 'ls_tireless_hybrid' 'ls_order_generalist'
 'ls_classic_specialist' 'ls_classic_hybrid' 'ls_classic_generalist']

No código acima, selecionamos os valores únicos da coluna "key". Eles são variáveis categóricas e precisam ser transformadas em numéricas para que possamos trabalhar com elas.

Agora, com os valores únicos encontrado na coluna "key", criamos um mapeamento para transformar os dados que, inicialmente são categórios, em numéricos.

In [2]:
# Mapeamento de valores categóricos para valores numéricos
mapping = {
    'ls_explorer_generalist': 1, 'ls_change_generalist': 2,
    'ls_explorer_specialist': 3, 'ls_explorer_hybrid': 4,
    'ls_change_specialist': 5, 'ls_change_hybrid': 6,
    'ls_tireless_generalist': 7, 'ls_order_specialist': 8,
    'ls_tireless_specialist': 9, 'ls_order_hybrid': 10,
    'ls_tireless_hybrid': 11, 'ls_order_generalist': 12,
    'ls_classic_specialist': 13, 'ls_classic_hybrid': 14,
    'ls_classic_generalist': 15
}

# Aplicar o mapeamento à coluna "key"
df["key"] = df["key"].map(mapping)

# Imprimir o DataFrame com os valores numéricos
print(df)

            id  key  lifestyle_classic  lifestyle_order  lifestyle_change  \
0      1019062    1                2.5              4.0               4.0
1      1019131    2                1.0              2.5               6.0
2      1019138    1                1.5              1.5               4.0
3      1017352    3                1.0              2.5               4.5
4      1019110    1                1.5              3.0               3.5
...        ...  ...                ...              ...               ...
67503  1019095    7                1.0              3.0               3.0
67504  1019122    8                3.0              6.0               5.0
67505  1019119    1                1.0              4.0               3.0
67506  1018596   11                2.5              4.5               5.0
67507  1019143    2                2.5              4.5               6.0

       lifestyle_tireless  lifestyle_explorer  lifestyle_specialist  \
0                     5.0                 5.5                   1.0
1                     4.5                 4.5                   0.0
2                     6.0                 8.5                   2.0
3                     3.5                 6.0                   4.0
4                     4.0                 6.0                   0.0
...                   ...                 ...                   ...
67503                 6.5                 5.5                   2.0
67504                 3.5                 3.5                   4.0
67505                 4.5                 6.0                   0.0
67506                 5.5                 3.5                   1.0
67507                 5.0                 6.0                   0.0

       lifestyle_generalist  lifestyle_hybrid
0                       3.0               0.0
1                       3.0               1.0
2                       3.0               0.0
3                       0.0               0.0
4                       4.0               0.0
...                     ...               ...
67503                   3.0               0.0
67504                   0.0               0.0
67505                   3.0               2.0
67506                   1.0               2.0
67507                   3.0               1.0

[67508 rows x 10 columns]

Por fim, importamos esse dataframe para um novo arquivo CSV.

In [3]:
df.to_csv("prep_df_user_lifestyle.csv", index=False)